@import "tailwindcss";
@import "./theme.css";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-lateef), Helvetica, serif;
}

@layer components {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-lateef), Helvetica, serif;
	}
	h1 {
		@apply text-2xl font-bold leading-normal;
	}
	h2 {
		@apply text-xl font-bold leading-normal;
	}
	h3 {
		@apply text-xl leading-normal;
	}
	h4 {
		@apply text-lg font-bold;
	}
	h5 {
		@apply text-lg;
	}

	p {
		font-size: var(--text-lg);
		line-height: var(--leading-relaxed);
	}

	a {
		font-size: var(--text-md);
		text-decoration: none;
	}

	li {
		list-style: none;
	}

	button {
		@apply text-lg px-12 py-1 border-2 rounded-xl transition-colors duration-500 ease-in-out cursor-pointer;
	}
	.button--primary {
		@apply border-rain-500 text-rain-100 bg-black-trans hover:border-rain-400;
	}
	.button--secondary {
		@apply border-rain-500;
	}
	.button--ghost {
		@apply bg-transparent text-rain-100 border-none p-0;
	}
	/* 
	.button--loading {
		@apply opacity-20 cursor-not-allowed;
	} */
}
