@import "tailwindcss";
@import "./theme.css";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-lateef), Helvetica, serif;
}

@layer components {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-lateef), Helvetica, serif;
	}
	h1 {
		@apply text-2xl font-bold leading-normal;
	}
	h2 {
		@apply text-xl font-bold leading-normal;
	}
	h3 {
		@apply text-lg font-bold;
	}
	h4 {
		@apply text-lg font-bold;
	}
	h5 {
		@apply text-lg;
	}

	input {
		@apply leading-normal;
	}

	p {
		font-size: var(--text-lg);
		line-height: var(--leading-relaxed);
		font-weight: medium;
	}

	a {
		font-size: var(--text-md);
		line-height: var(--leading-normal);
		text-decoration: none;
		color: var(--color-rain-300);
		transition: color 300ms ease;
	}

	a:hover {
		color: var(--color-rain-100);
	}

	li {
		list-style: none;
	}

	input {
		@apply: leading-normal;
	}

	button {
		@apply text-lg font-medium px-12 py-1 border-2 rounded-xl transition-colors duration-300 ease-in-out cursor-pointer;
	}
	.btn--primary {
		@apply text-rain-100 bg-rain-800 border-rain-400 hover:border-rain-200;
	}
	.btn--tertiary {
		@apply text-rain-900 bg-rain-300 border-rain-900 hover:bg-rain-200;
	}
	.btn--ghost {
		@apply bg-transparent text-rain-300 border-transparent hover:text-rain-100 hover:border-rain-300;
	}
	.btn--link {
		@apply bg-transparent text-rain-300 border-none p-0 hover:text-rain-100;
	}
	.btn--icon {
		@apply bg-transparent text-rain-300 border-none p-1 hover:text-white;
	}
	.btn--danger {
		@apply bg-transparent text-rain-300 border-transparent hover:border-red-500 hover:text-red-500;
	}
}
