@import "tailwindcss";

@theme {
	/* Font */
	--font-lateef: var(--font-lateef);

	/* Text Size */
	--text-3xl: clamp(2.5rem, 6vw, 6rem);
	--text-2xl: clamp(2.5rem, 5vw, 3rem);
	--text-xl: clamp(1.8rem, 4vw, 2.5rem);
	--text-lg: clamp(1.5rem, 3vw, 2rem);
	--text-md: clamp(1.2rem, 2.6vw, 1.8rem);
	--text-sm: clamp(1.2rem, 3vw, 1.4rem);
	--text-xs: clamp(1rem, 3vw, 1.3rem);

	/* Headings */
	--text-heading-md: clamp(1.5rem, 2.5vw, 3.5rem);

	/* Line height */
	--leading-tight: 0.8;
	--leading-normal: 1;
	--leading-snug: 1.2;
	--leading-relaxed: 1.4;

	/* Color */
	--color-rain-100: #f9f5f5;
	--color-rain-200: #e6e7ef;
	--color-rain-300: #c1c2cb;
	--color-rain-350: #8e8e9e;
	--color-rain-400: #575664;
	--color-rain-500: #35354a;
	--color-rain-600: #1a1d2c;
	--color-rain-700: #161928;
	--color-rain-750: #131523;
	--color-rain-800: #0e0f19;
	--color-rain-900: #09090f;

	--color-black: #000;
	--color-black-trans: #0000001e;
	--color-white: #fff;
	--color-white-trans: #ffffff2e;
}
